.jss16 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.jss17 {
  flex: 0 0 auto;
  margin: 0;
  box-sizing: border-box;
}
.jss19 {
  flex-direction: column;
}
.jss24 {
  align-items: center;
}
.jss33 {
  justify-content: center;
}
.jss34 {
  justify-content: flex-end;
}
.jss35 {
  justify-content: space-between;
}
.jss42 {
  flex-grow: 1;
  max-width: 100%;
  flex-basis: 0;
}
@media (min-width: 0px) and (max-width: 599.95px) {
  .jss1 {
    display: none;
  }
}
@media (min-width: 600px) and (max-width: 959.95px) {
  .jss4 {
    display: none;
  }
}
@media (min-width: 960px) and (max-width: 1279.95px) {
  .jss7 {
    display: none;
  }
}
@media (min-width: 1280px) and (max-width: 1919.95px) {
  .jss10 {
    display: none;
  }
}
@media (min-width: 1920px) {
  .jss13 {
    display: none;
  }
}
.jss130 {
  margin: 0;
  display: block;
}
.jss137 {
  color: rgba(0, 0, 0, 0.87);
  font-size: 1rem;
  font-weight: 400;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.5em;
}
.jss139 {
  color: rgba(0, 0, 0, 0.87);
  font-size: 0.875rem;
  font-weight: 400;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.46429em;
}
.jss140 {
  color: rgba(0, 0, 0, 0.54);
  font-size: 0.75rem;
  font-weight: 400;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.375em;
}
.jss143 {
  text-align: center;
}
.jss150 {
  color: #424242;
}
.jss151 {
  color: #0e8ab0;
}
.jss126 {
  height: 1px;
  margin: 0;
  border: none;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 0.12);
}
.jss107 {
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 24px;
  flex-shrink: 0;
}
.jss173 {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 0;
  position: absolute;
  overflow: hidden;
  border-radius: inherit;
}
.jss170 {
  color: inherit;
  margin: 0;
  border: 0;
  display: inline-flex;
  padding: 0;
  outline: 0;
  position: relative;
  align-items: center;
  border-radius: 0;
  vertical-align: middle;
  justify-content: center;
  -moz-appearance: none;
  text-decoration: none;
  background-color: transparent;
  -webkit-appearance: none;
}
.jss170::-moz-focus-inner {
  border-style: none;
}
.jss154 {
  color: rgba(0, 0, 0, 0.87);
  padding: 8px 16px;
  font-size: 0.875rem;
  min-width: 88px;
  min-height: 36px;
  box-sizing: border-box;
  line-height: 1.4em;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 500;
  border-radius: 2px;
  text-transform: uppercase;
}
.jss155 {
  width: 100%;
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
}
.jss156 {
  color: #424242;
}
.jss158 {
  border: 1px solid rgba(0, 0, 0, 0.23);
  border-radius: 4px;
}
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"),
    url(/static/fonts/roboto-v18-latin-300.woff2) format("woff2"),
    url(/static/fonts/roboto-v18-latin-300.woff) format("woff");
}
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"),
    url(/static/fonts/roboto-v18-latin-regular.woff2) format("woff2"),
    url(/static/fonts/roboto-v18-latin-regular.woff) format("woff");
}
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"),
    url(/static/fonts/roboto-v18-latin-500.woff2) format("woff2"),
    url(/static/fonts/roboto-v18-latin-500.woff) format("woff");
}
body {
  margin: 0;
  padding: 0;
  background-color: #fff;
}
html * {
  font-family: Roboto, sans-serif;
}
*,
::after,
::before {
  box-sizing: inherit;
}
a {
  text-decoration: none;
}
a:link,
a:visited {
  color: #0e8ab0;
}
html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
input {
  outline: 0;
  border: 1px solid #0e8ab0;
}
@media (max-width: 600px) {
  .ais-Pagination ul {
    margin-left: 12px;
    justify-content: flex-start;
  }
  .ais-SearchBox-input {
    border-radius: 0 !important;
    border: 1px solid #d2d2d2 !important;
    height: 40px !important;
    padding-left: 0.3rem !important;
    padding-right: 0.3rem !important;
    width: 100% !important;
  }
  .ais-Pagination-link {
    color: #0e8ab0 !important;
    border-radius: 0 !important;
  }
  .ais-Pagination-item--page {
    display: none;
  }
  .ais-Pagination-item--nextPage {
    width: 49%;
    text-align: center;
  }
  .ais-Pagination-item--previousPage {
    width: 48%;
    text-align: center;
  }
  .ais-Pagination-link--selected {
    background-color: #0e8ab0 !important;
    border-color: #0e8ab0 !important;
    color: #fff !important;
    border-radius: 0 !important;
  }
}
@media (min-width: 601px) and (max-width: 959px) {
  .ais-SearchBox-input {
    border-radius: 0 !important;
    border: 1px solid #d2d2d2 !important;
    height: 40px !important;
    padding-left: 0.3rem !important;
    padding-right: 0.3rem !important;
    width: 100% !important;
  }
  .ais-Pagination ul {
    margin-left: 30px;
    justify-content: flex-start;
  }
  .ais-Pagination-link {
    color: #0e8ab0 !important;
    border-radius: 0 !important;
  }
  .ais-Pagination-item--page {
    display: none;
  }
  .ais-Pagination-item--nextPage,
  .ais-Pagination-item--previousPage {
    width: 45%;
    text-align: center;
  }
  .ais-Pagination-link--selected {
    background-color: #0e8ab0 !important;
    border-color: #0e8ab0 !important;
    color: #fff !important;
    border-radius: 0 !important;
  }
}
.ais-SearchBox-input:focus {
  border: 1px solid #0e8ab0 !important;
}
@media (min-width: 960px) {
  .ais-SearchBox-input {
    border-radius: 0 !important;
    border: 1px solid #d2d2d2 !important;
    height: 34px !important;
    padding-left: 0.3rem !important;
    padding-right: 0.3rem !important;
    width: 500px !important;
    border-right: #0e8ab0;
  }
  .ais-Pagination ul {
    margin-left: 140px;
    justify-content: flex-start;
  }
  .ais-Pagination-link {
    color: #0e8ab0 !important;
    border-radius: 0 !important;
  }
  .ais-Pagination-link--selected {
    background-color: #0e8ab0 !important;
    border-color: #0e8ab0 !important;
    color: #fff !important;
    border-radius: 0 !important;
  }
}
.ais-Pagination {
  margin-top: 20px;
  margin-bottom: 40px;
}
.ais-Stats {
  margin-top: 15px;
  margin-bottom: 15px;
}
.ais-Stats-text {
  color: grey !important;
  font-weight: 400 !important;
}
.ais-Pagination-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.ais-SearchBox-input::-ms-clear,
.ais-SearchBox-input::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
.ais-SearchBox-input::-webkit-search-cancel-button,
.ais-SearchBox-input::-webkit-search-decoration,
.ais-SearchBox-input::-webkit-search-results-button,
.ais-SearchBox-input::-webkit-search-results-decoration {
  display: none;
}
[class^="ais-"] {
  font-size: 1rem;
  box-sizing: border-box;
}
a[class^="ais-"] {
  text-decoration: none;
}
.ais-Pagination,
.ais-Stats {
  color: #3a4570;
}
.ais-Pagination-link {
  color: #0096db;
  padding: 0.3rem 0.6rem;
  display: block;
  border: 1px solid #c4c8d8;
  border-radius: 5px;
}
.ais-Pagination-item + .ais-Pagination-item {
  margin-left: 0.3rem;
}
.ais-Pagination-item--disabled .ais-Pagination-link {
  opacity: 0.6;
  color: #a5abc4;
}
.ais-Pagination-item--selected .ais-Pagination-link {
  color: #fff;
  background-color: #0096db;
  border-color: #0096db;
}
.ais-Stats-text {
  font-size: 0.8rem;
}
.ais-SearchBox-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0.3rem 1.7rem;
  width: 100%;
  position: relative;
  background-color: #fff;
  border: 1px solid #c4c8d8;
  border-radius: 5px;
}
.ais-SearchBox-input::-webkit-input-placeholder {
  color: #a5aed1;
}
.ais-SearchBox-input::-moz-placeholder {
  color: #a5aed1;
}
.ais-SearchBox-input:-ms-input-placeholder {
  color: #a5aed1;
}
.ais-SearchBox-input:-moz-placeholder {
  color: #a5aed1;
}
._cqikcfj {
  background-color: #f8f8f8 !important;
}
@media (max-width: 600px) {
  ._cqikcfj {
    padding-top: 4px !important;
    padding-left: 12px !important;
    padding-right: 12px !important;
  }
  ._1mpa6h4 {
    padding-bottom: 4px !important;
  }
}
@media (min-width: 601px) and (max-width: 960px) {
  ._cqikcfj {
    padding-top: 8px !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
}
@media (min-width: 961px) {
  ._cqikcfj {
    padding-top: 8px !important;
    padding-left: 140px !important;
    padding-right: 120px !important;
  }
  ._1mpa6h4 {
    padding-bottom: 8px !important;
  }
  ._1ca9tyq {
    margin-left: 140px !important;
  }
}
._1lu8zvv {
  margin-top: 3px !important;
  margin-bottom: 3px !important;
}
._vv6jkcl {
  width: 130px !important;
  margin-top: 3px !important;
  margin-bottom: 3px !important;
}
@media (max-width: 600px) {
  ._1ca9tyq {
    padding-left: 12px !important;
  }
}
@media (min-width: 601px) and (max-width: 960px) {
  ._1mpa6h4 {
    padding-bottom: 8px !important;
  }
  ._1ca9tyq {
    padding-left: 30px !important;
  }
}
._1lxlpc5p {
  width: 130px !important;
  margin: 3px 5px !important;
}
._1deg5css {
  background-color: #f8f8f8 !important;
}
@media (max-width: 600px) {
  ._1deg5css {
    padding-left: 12px !important;
    padding-right: 12px !important;
  }
}
@media (min-width: 601px) and (max-width: 960px) {
  ._1deg5css {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
}
@media (max-width: 959px) {
  ._1of400l {
    min-height: -webkit-calc(100vh - 340px) !important;
    min-height: -moz-calc(100vh - 340px) !important;
    min-height: calc(100vh - 340px) !important;
  }
  ._1qqfr3a {
    border-right: none !important;
  }
}
@media (min-width: 960px) and (max-width: 1279px) {
  ._1of400l {
    min-height: -webkit-calc(100vh - 332px) !important;
    min-height: -moz-calc(100vh - 332px) !important;
    min-height: calc(100vh - 332px) !important;
  }
}
@media (min-width: 961px) {
  ._1deg5css {
    padding-left: 140px !important;
    padding-right: 120px !important;
  }
  ._1qqfr3a {
    margin-left: 140px !important;
  }
  ._1uly2pes {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
  }
}
@media (max-width: 600px) {
  ._1qqfr3a {
    padding-left: 12px !important;
    padding-right: 12px !important;
  }
}
@media (min-width: 601px) and (max-width: 960px) {
  ._1qqfr3a {
    padding-left: 30px !important;
    padding-right: 12px !important;
  }
}
@media (min-width: 961px) and (max-width: 1279px) {
  ._1qqfr3a {
    padding-right: 12px !important;
  }
}
@media (min-width: 1280px) {
  ._1of400l {
    min-height: -webkit-calc(100vh) !important;
    min-height: -moz-calc(100vh) !important;
    min-height: calc(100vh) !important;
  }
  ._1qqfr3a {
    padding-right: 60px !important;
  }
}
@media (min-width: 960px) {
  ._1qqfr3a {
    border-right: 1px solid #e1e1e1 !important;
  }
}
@media (max-width: 600px) {
  ._1uly2pes {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    margin-bottom: 4px !important;
  }
}
@media (min-width: 601px) and (max-width: 960px) {
  ._1uly2pes {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    margin-bottom: 4px !important;
  }
}
@media (max-width: 959px) {
  ._1uly2pes {
    width: 100% !important;
  }
}
@media (min-width: 960px) and (max-width: 1399px) {
  ._1uly2pes {
    width: 500px !important;
  }
}
@media (min-width: 1400px) {
  ._1uly2pes {
    width: 650px !important;
  }
}
@media (min-width: 960px) and (max-width: 1399px) {
  ._135brno2 {
    width: 500px !important;
  }
}
@media (min-width: 1400px) {
  ._135brno2 {
    width: 650px !important;
  }
}
@media (min-width: 961px) {
  ._135brno2 {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    margin-left: 140px !important;
  }
}
@media (max-width: 600px) {
  ._135brno2 {
    margin-bottom: 4px !important;
    padding: 4px 12px !important;
  }
}
@media (min-width: 601px) and (max-width: 960px) {
  ._135brno2 {
    margin-bottom: 4px !important;
    padding: 8px 12px 8px 30px !important;
  }
}
@media (min-width: 961px) and (max-width: 1279px) {
  ._135brno2 {
    padding-right: 12px !important;
  }
}
@media (min-width: 1280px) {
  ._135brno2 {
    padding-right: 60px !important;
  }
}
@media (max-width: 959px) {
  ._135brno2 {
    width: 100% !important;
    border-right: none !important;
  }
}
@media (min-width: 960px) {
  ._135brno2 {
    border-right: 1px solid #e1e1e1 !important;
  }
}
._1lzgd5j {
  background-color: #f8f8f8 !important;
}
