
.ais-Hits {
    background: white;
}

.ais-Hits-item {
    width: 100%!important;
    border: none!important;
    box-shadow: none!important;
    margin-top: 0!important;
    margin-left: 0!important;
    padding: 0!important;
}

.ais-SearchBox {
    margin-bottom: 0!important;
}

.ais-Hits-list {
    margin-left: 0!important;
}