/* roboto-300 - latin */
@font-face {
  font-family: "Roboto";
  font-display: swap;
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"),
    url("./fonts/roboto-v18-latin-300.woff2") format("woff2"),
    url("./fonts/roboto-v18-latin-300.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"),
    url("./fonts/roboto-v18-latin-regular.woff2") format("woff2"),
    url("./fonts/roboto-v18-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500 - latin */
@font-face {
  font-family: "Roboto";
  font-display: swap;
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"),
    url("./fonts/roboto-v18-latin-500.woff2") format("woff2"),
    url("./fonts/roboto-v18-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
}
html * {
  font-family: "Roboto", sans-serif;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

a:link {
  color: #1565c0;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #1565c0;
}

html {
  box-sizing: border-box;
}

input,
textarea,
select {
  outline: 0;
  border: 1px solid #0e8ab0;
}

.loading {
  opacity: 0.4;
}

.hidden {
    display: none !important;
}