body {
  margin: 0;
  padding: 0;
  background-color: white;
}
html * {
  font-family: "Roboto", sans-serif;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

a:link {
  color: #008cd2;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #008cd2;
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
textarea,
select {
  outline: 0;
  border: 1px solid #008cd2;
}

.loading {
  opacity: 0.4;
}
