.ais-Hits {
  background: white !important;
  margin-top: 7px !important;
}

.ais-Hits-item {
  width: 100% !important;
  border: none !important;
  box-shadow: none !important;
  margin-top: 0 !important;
  margin-left: 0 !important;
  padding: 0 !important;
}

.ais-SearchBox {
  margin-bottom: 0 !important;
}

.ais-SearchBox-form {
}

@media (max-width: 600px) {
  .ais-SearchBox-input {
    border-radius: 2px !important;
    border: 1px solid #d2d2d2 !important;
    box-shadow: 0 2px 0 0 #f1f1f1 !important;
    height: 40px !important;
    padding: 0.3rem 2rem !important;
  }
}

@media (min-width: 601px) {
  .ais-SearchBox-input {
    border-radius: 0 !important;
    border: 1px solid #d2d2d2 !important;
    height: 34px !important;
    padding: 0.3rem 2rem !important;
  }
}

.ais-Hits-list {
  margin-left: 0 !important;
}
