.ais-Hits {
  background: white !important;
  margin-top: 0 !important;
}

.ais-Hits-item {
  width: 100% !important;
  border: none !important;
  box-shadow: none !important;
  margin-top: 0 !important;
  margin-left: 0 !important;
  padding: 0 !important;
}

@media (max-width: 600px) {
  .ais-Pagination ul {
    margin-left: 12px;
    justify-content: flex-start;
  }
  .ais-SearchBox-input {
    border-radius: 0 !important;
    border: 1px solid #d2d2d2 !important;
    height: 40px !important;
    padding-left: 0.3rem !important;
    padding-right: 0.3rem !important;
    width: 100% !important;
  }

  .ais-Pagination-link {
    color: #0E8AB0 !important;
    border-radius: 0 !important;
  }

  .ais-Pagination-item--page {
    display: none;
  }

  .ais-Pagination-item--nextPage {
    width: 49%;
    text-align: center;
  }

  .ais-Pagination-item--previousPage {
    width: 48%;
    text-align: center;
  }

  .ais-Pagination-link--selected {
    background-color: #0E8AB0 !important;
    border-color: #0E8AB0 !important;
    color: white !important;
    border-radius: 0 !important;
  }
  .ais-Hits-list {
    margin: 0 !important;
    background-color: #f8f8f8 !important;
  }
  .ais-Hits-item {
    margin-bottom: 4px;
  }
}

@media (min-width: 601px) and (max-width: 959px) {
  .ais-SearchBox-input {
    border-radius: 0 !important;
    border: 1px solid #d2d2d2 !important;
    height: 40px !important;
    padding-left: 0.3rem !important;
    padding-right: 0.3rem !important;
    width: 100% !important;
  }
  .ais-Pagination ul {
    margin-left: 30px;
    justify-content: flex-start;
  }

  .ais-Pagination-link {
    color: #0E8AB0 !important;
    border-radius: 0 !important;
  }

  .ais-Pagination-item--page {
    display: none;
  }

  .ais-Pagination-item--nextPage {
    width: 45%;
    text-align: center;
  }

  .ais-Pagination-item--previousPage {
    width: 45%;
    text-align: center;
  }

  .ais-Pagination-link--selected {
    background-color: #0E8AB0 !important;
    border-color: #0E8AB0 !important;
    color: white !important;
    border-radius: 0 !important;
  }
  .ais-Hits-list {
    margin: 0 !important;
    background-color: #f8f8f8 !important;
  }
  .ais-Hits-item {
    margin-bottom: 4px;
  }
}

.ais-SearchBox-input:focus {
  border: 1px solid #0E8AB0 !important;
}

@media (min-width: 960px) {
  .ais-Hits-list {
    margin: 0 !important;
  }
  .ais-SearchBox-input {
    border-radius: 0 !important;
    border: 1px solid #d2d2d2 !important;
    height: 34px !important;
    padding-left: 0.3rem !important;
    padding-right: 0.3rem !important;
    width: 500px !important;
    border-right: #0E8AB0;
  }
  .ais-Pagination ul {
    margin-left: 140px;
    justify-content: flex-start;
  }

  .ais-Pagination-link {
    color: #0E8AB0 !important;
    border-radius: 0 !important;
  }

  .ais-Pagination-link--selected {
    background-color: #0E8AB0 !important;
    border-color: #0E8AB0 !important;
    color: white !important;
    border-radius: 0 !important;
  }
}

.ais-Pagination {
  margin-top: 20px;
  margin-bottom: 40px;
}

.ais-Stats {
  margin-top: 15px;
  margin-bottom: 15px;
}

.ais-Stats-text {
  color: grey !important;
  font-weight: 400 !important;
}

.ais-Highlight-highlighted {
  background-color: inherit !important;
  color: #BF2885;
  font-style: inherit;
}
